<div class="row">
  <div class="col-12">
    <label class="form-label">Amount</label>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="input-group mb-3">
      <span class="input-group-text" id="dollar-addon">$</span>
      <input
        type="text"
        pattern="[0-9]*"
        class="form-control"
        placeholder="0"
        aria-label="Amount"
        aria-describedby="Amount value"
        [(ngModel)]="valueAmount"
        (change)="onAmountSet()"
      />
    </div>
  </div>
</div>
<div class="row" *ngIf="!isValidAmount()">
  <div class="col-12">
    <figcaption class="blockquote-footer">amount is not valid</figcaption>
  </div>
</div>
